Repository Synthetixio/synthetix-v3: changes, and which Codecov flags are due for each by the changed paths.
All: core-contracts, core-utils, core-modules, sample-project, main, oracle-manager

defined var
  protocol/synthetix/contracts/modules/core/IssueUSDModule.sol
  protocol/synthetix/test/integration/modules/core/LiquidationModule.test.ts
Due: main

feat: update pool collateral configuration
  protocol/synthetix/contracts/interfaces/IPoolModule.sol
  protocol/synthetix/contracts/modules/core/PoolModule.sol
  protocol/synthetix/test/integration/modules/core/IssueUSDModule.test.ts
  protocol/synthetix/test/integration/modules/core/PoolModuleFundAdmin.test.ts
  protocol/synthetix/test/integration/modules/core/VaultModule.test.ts
  protocol/synthetix/test/integration/storage/CollateralConfiguration.test.ts
Due: main

fix: liniting
  protocol/synthetix/test/integration/storage/CollateralConfiguration.test.ts
Due: none

revert sUsd to snxUSD
  protocol/synthetix/cannonfile.toml
  protocol/synthetix/test/integration/modules/core/USDTokenModule.test.ts
Due: none

Update markets/perps-market/subgraph/src/market.ts
  markets/perps-market/subgraph/src/market.ts
Due: none

Update perps subgraph (#1748)
  markets/perps-market/subgraph/generated/schema.ts
  markets/perps-market/subgraph/schema.graphql
  markets/perps-market/subgraph/src/market.ts
  markets/perps-market/subgraph/src/orders.ts
  markets/perps-market/subgraph/src/settlementStrategies.ts
  markets/perps-market/subgraph/subgraph.base.yaml
Due: none

fixes for audit
  protocol/oracle-manager/contracts/interfaces/external/IExternalNode.sol
  protocol/oracle-manager/contracts/modules/NodeModule.sol
Due: oracle-manager

add events
  markets/perps-market/subgraph/generated/schema.ts
  markets/perps-market/subgraph/schema.graphql
  markets/perps-market/subgraph/src/account.ts
  markets/perps-market/subgraph/subgraph.base.yaml
Due: none

add liq reward to async order validation
  markets/perps-market/contracts/interfaces/IPerpsAccountModule.sol
  markets/perps-market/contracts/modules/LiquidationModule.sol
  markets/perps-market/contracts/modules/PerpsAccountModule.sol
  markets/perps-market/contracts/storage/AsyncOrder.sol
  markets/perps-market/contracts/storage/PerpsAccount.sol
  markets/perps-market/test/integration/Orders/Order.marginValidation.test.ts
  markets/perps-market/test/integration/helpers/index.ts
  markets/perps-market/test/integration/helpers/requiredMargins.ts
Due: none

lint fix
  markets/perps-market/test/integration/Orders/Order.marginValidation.test.ts
  markets/perps-market/test/integration/helpers/requiredMargins.ts
Due: none

chore: checkpoint commit with some todo comments
  contracts/modules/LiquidationModule.sol
  contracts/modules/MarketCollateralModule.sol
  test/integration/modules/LiquidationModule.test.ts
  test/integration/modules/OrderModule.test.ts
Due: none

refactor: Rename Collateral -> Margin
  cannonfile.toml
  contracts/interfaces/IMarginModule.sol
  contracts/modules/LiquidationModule.sol
  contracts/modules/MarginModule.sol
  contracts/modules/PerpAccountModule.sol
  contracts/storage/Margin.sol
  contracts/storage/PerpMarket.sol
  contracts/storage/Position.sol
  test/integration/modules/MarketCollateralModule.test.ts
Due: none

feat: Add getNotionalValueUsd external view
  contracts/interfaces/IMarginModule.sol
  contracts/interfaces/IPerpAccountModule.sol
  contracts/modules/LiquidationModule.sol
  contracts/modules/MarginModule.sol
  contracts/modules/PerpAccountModule.sol
  contracts/storage/Margin.sol
  contracts/storage/PerpMarket.sol
  contracts/storage/Position.sol
Due: none

fix: use marginUsd instead of collateralUsd to consider fees
  contracts/interfaces/IPerpAccountModule.sol
  contracts/modules/LiquidationModule.sol
  contracts/modules/MarginModule.sol
  contracts/modules/PerpAccountModule.sol
  contracts/storage/Margin.sol
  contracts/storage/PerpMarket.sol
  contracts/storage/Position.sol
Due: none

Remove "Solidity API" header from page template
  utils/docgen/contracts-page.js
  utils/docgen/natspec/theme/page.hbs
Due: none

Enable git diff check for docs
  .github/workflows/test.yml
Due: none

Generate full v3 Contracts page
  package.json
  utils/docgen/contracts-page.js
  utils/docgen/docgen:contracts.sh
  utils/docgen/package.json
Due: none

Add TOC
  utils/docgen/docgen:contracts.sh
Due: none

Add "Back to TOC" link
  utils/docgen/docgen:contracts.sh
Due: none

Adjust headings level for contracts
  utils/docgen/natspec/theme/contract.hbs
  utils/docgen/natspec/theme/helpers.ts
Due: none

Global docgen github action
  .github/workflows/docgen.yml
  .github/workflows/test.yml
Due: none

Regenerate docs
  docs/Contracts.md
  markets/perps-market/docs/index.md
  markets/spot-market/docs/index.md
  protocol/governance/docs/index.md
  protocol/oracle-manager/docs/index.md
  protocol/synthetix/docs/index.md
Due: none

refactor+perf: Gas improvements, minimise storage, re-use loaded vars
  contracts/interfaces/IPerpAccountModule.sol
  contracts/modules/LiquidationModule.sol
  contracts/modules/MarginModule.sol
  contracts/modules/OrderModule.sol
  contracts/modules/PerpAccountModule.sol
  contracts/storage/PerpMarket.sol
  contracts/storage/Position.sol
  contracts/utils/ErrorUtil.sol
Due: none

Combined Readme for all contracts (#1723)
  .github/workflows/docgen.yml
  .github/workflows/test.yml
  docs/Contracts.md
  markets/perps-market/docs/index.md
  markets/spot-market/docs/index.md
  package.json
  protocol/governance/docs/index.md
  protocol/oracle-manager/docs/index.md
  protocol/synthetix/docs/index.md
  utils/docgen/docgen:contracts.sh
  utils/docgen/natspec/theme/contract.hbs
  utils/docgen/natspec/theme/helpers.ts
  utils/docgen/natspec/theme/page.hbs
  utils/docgen/package.json
Due: none

Ignore unnecessary subgraph build artifacts
  .eslintignore
  .prettierignore
Due: none

Remove clean
  package.json
Due: none

refactor+fix: Resolve lingering TODOs
  cannonfile.toml
  contracts/modules/LiquidationModule.sol
  contracts/modules/MarginModule.sol
  contracts/modules/PerpAccountModule.sol
  contracts/storage/Margin.sol
  contracts/storage/Position.sol
Due: none

fix: validateNextPositionIsLiquidatable should be looking at newMarginUsd
  contracts/storage/Position.sol
Due: none

docs: more details in README
  README.md
Due: none

feat: Add support for sUSD deposit/withdraws
  contracts/interfaces/IMarginModule.sol
  contracts/modules/MarginModule.sol
  test/integration/modules/MarketCollateralModule.test.ts
Due: none

refactor: mv test/integration/modules/MarginModule.test.ts
  test/integration/modules/MarginModule.test.ts
Due: none

Docgen no clean (#1752)
  .eslintignore
  .prettierignore
  package.json
Due: none

fixed all tests
  protocol/synthetix/contracts/modules/core/IssueUSDModule.sol
  protocol/synthetix/test/integration/modules/core/LiquidationModule.test.ts
  protocol/synthetix/test/integration/modules/core/VaultModule.test.ts
Due: main

removed comment
  protocol/synthetix/contracts/modules/core/IssueUSDModule.sol
Due: main

fix lint issues
  protocol/governance/contracts/interfaces/IElectionModule.sol
  protocol/governance/contracts/interfaces/ISnapshotVotePowerModule.sol
  protocol/governance/contracts/mocks/SnapshotRecordMock.sol
  protocol/governance/contracts/modules/core/BaseElectionModule.sol
  protocol/governance/contracts/modules/core/SnapshotVotePowerModule.sol
  protocol/governance/contracts/storage/Council.sol
  protocol/governance/contracts/storage/ElectionSettings.sol
  protocol/governance/contracts/submodules/election/ElectionCredentials.sol
  protocol/governance/test/contracts/SnapshotVotePowerModule.test.ts
  protocol/governance/test/contracts/UpgradeProposalModule.test.ts
Due: none

Snapshot vote power tests (#1749)
  protocol/governance/cannonfile.test.toml
  protocol/governance/cannonfile.toml
  protocol/governance/contracts/interfaces/IDebtShare.sol
  protocol/governance/contracts/interfaces/IElectionModule.sol
  protocol/governance/contracts/interfaces/ISnapshotVotePowerModule.sol
  protocol/governance/contracts/interfaces/external/ISnapshotRecord.sol
  protocol/governance/contracts/mocks/DebtShareMock.sol
  protocol/governance/contracts/mocks/SnapshotRecordMock.sol
  protocol/governance/contracts/modules/core/BaseElectionModule.sol
  protocol/governance/contracts/modules/core/ElectionInspectorModule.sol
  protocol/governance/contracts/modules/core/ElectionModule.sol
  protocol/governance/contracts/modules/core/SnapshotVotePowerModule.sol
  protocol/governance/contracts/storage/Council.sol
  protocol/governance/contracts/storage/CrossChainDebtShare.sol
  protocol/governance/contracts/storage/DebtShare.sol
  protocol/governance/contracts/storage/ElectionSettings.sol
  protocol/governance/contracts/storage/SnapshotVotePowerEpoch.sol
  protocol/governance/contracts/submodules/election/CrossChainDebtShareManager.sol
  protocol/governance/contracts/submodules/election/DebtShareManager.sol
  protocol/governance/contracts/submodules/election/ElectionBase.sol
  protocol/governance/contracts/submodules/election/ElectionCredentials.sol
  protocol/governance/contracts/submodules/election/ElectionSchedule.sol
  protocol/governance/contracts/submodules/election/ElectionSettingsManager.sol
  protocol/governance/contracts/submodules/election/ElectionTally.sol
  protocol/governance/contracts/submodules/election/ElectionVotes.sol
  protocol/governance/storage.dump.sol
  protocol/governance/test/bootstrap.ts
  protocol/governance/test/contracts/BaseElectionModule/Voting.test.ts
  protocol/governance/test/contracts/ElectionSettings.test.ts
  protocol/governance/test/contracts/SnapshotVotePowerModule.test.ts
  protocol/governance/test/contracts/UpgradeProposalModule.test.ts
  utils/hardhat-storage/src/internal/render-testable-storage.ts
  utils/hardhat-storage/templates/TestableStorage.sol.mustache
Due: none

fixing tests
  protocol/synthetix/contracts/modules/core/CollateralModule.sol
  protocol/synthetix/test/common/stakers.ts
Due: main

removing unused constant
  protocol/synthetix/contracts/modules/core/IssueUSDModule.sol
Due: main

building repo
  protocol/synthetix/contracts/modules/core/IssueUSDModule.sol
  protocol/synthetix/storage.dump.sol
Due: main

Add liq reward to async order validation (#1751)
  markets/perps-market/contracts/interfaces/IPerpsAccountModule.sol
  markets/perps-market/contracts/modules/LiquidationModule.sol
  markets/perps-market/contracts/modules/PerpsAccountModule.sol
  markets/perps-market/contracts/storage/AsyncOrder.sol
  markets/perps-market/contracts/storage/PerpsAccount.sol
  markets/perps-market/test/integration/Orders/Order.marginValidation.test.ts
  markets/perps-market/test/integration/helpers/index.ts
  markets/perps-market/test/integration/helpers/requiredMargins.ts
Due: none

Path conditions:
  core-contracts: any of: utils/core-contracts/contracts
  core-utils: any of: utils/core-utils/src
  core-modules: any of: utils/core-modules/contracts
  sample-project: any of: utils/sample-project/contracts
  main: any of: protocol/synthetix/contracts
  oracle-manager: any of: protocol/oracle-manager/contracts
